Django==5.2.6
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pyotp==2.9.0
qrcode[pil]==8.0
Pillow==11.1.0
requests==2.32.3
channels==4.2.0
channels-redis==4.2.1
daphne==4.1.2
vercel_blob==0.4.2
psutil==6.1.1
matplotlib.pyplot==3.10.0
numpy==2.2.1
scipy==1.15.1